#hero {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    /* max-width: var(--max-width); */
}
section#hero {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
#hero p {
    text-align: center;
    color: var(--text-white);
    text-shadow: 1px 1px 5px var(--text-black);
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 0;
}
#hero p span {
    color: var(--color-accent);
}
#hero p.sub-heading {
    font-size: 32px;
}
#hero img {
    width: 100vw;
    -webkit-filter: drop-shadow(1px 1px 5px #ffffff03);
    filter: drop-shadow(1px 1px 5px #ffffff03);
}
