section#prices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 20px;
    width: fit-content;
    height: 100vh;
    margin: 2rem auto;
    max-width: var(--max-width);
}
